<!doctype html>
<html  style="height:100%;">
<head>
    <title>Angular Directive Example with jsPlumb</title>

    <link rel="stylesheet" href="bower_components/jsPlumb/dist/css/jsplumb.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body style="height:100%;">
    <div ng-controller="FirstExampleController" style="height:100%;">

        <div class="col-sm-3" ng-include="'partials/sidebar.html'" style="height:100%; overflow:scroll;"></div>

        <div class="col-sm-9"  style="height:100%; overflow:hidden;">
            <div class="panel panel-primary" style="height:100%;">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        jsPlumb Canvas 1 ({{pos_x}}, {{pos_y}}, {{zoomlevel}})
                        <div class="col-sm-4 pull-right">
                            <div ui-slider min="10" max="120" ng-model="zoomlevel"></div>
                        </div>
                    </h3>
                </div>
                <div class="panel-body" style="overflow:hidden; height:100%;">
                    <js-plumb-canvas on-connection="onConnection" x="pos_x" y="pos_y" zoom="zoomlevel">
                        <ng-include src="'partials/'+state.template+'State.html'" ng-repeat="state in stateObjects"></ng-include>
                    </js-plumb-canvas>
                </div>
            </div>
        </div>
    </div>

    <!--&lt;!&ndash; just to illustrate a second instance of jsPlumb operating &ndash;&gt;-->
    <!--<div ng-controller="SecondaryExampleController">-->
        <!--<div class="col-sm-4"></div>-->

        <!--<div class="col-sm-8" >-->

            <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">-->
                        <!--jsPlumb Secondary Canvas-->
                        <!--<div class="col-sm-4 pull-right">-->
                            <!--<div ui-slider min="0" max="100" ng-model="zoomlevel"></div>-->
                        <!--</div>-->
                    <!--</h3>-->
                <!--</div>-->
                <!--<div class="panel-body" style="overflow:hidden; height:200px;">-->
                    <!--<js-plumb-canvas on-connection="onConnection" x="pos_x" y="pos_y" zoom="zoomlevel">-->

                        <!--<js-plumb-object state-object="state" ng-style="{ 'left':state.x, 'top':state.y }" class="window" ng-repeat="state in states">-->
                            <!--<span >{{state.name}}</span>-->
                            <!--<js-plumb-endpoint ng-repeat="endpoint in state.sources" anchor="{{endpoint.position}}" uuid="{{endpoint.uuid}}" settings="sourceEndpointStyle"></js-plumb-endpoint>-->
                            <!--<js-plumb-endpoint ng-repeat="endpoint in state.targets" anchor="{{endpoint.position}}" uuid="{{endpoint.uuid}}" settings="targetEndpointStyle"></js-plumb-endpoint>-->
                        <!--</js-plumb-object>-->
                    <!--</js-plumb-canvas>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->





    <!-- quick CDN stuff for angular/touchpunch/jquery/jqueryui -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>

    <!-- bower installed -->
    <script src="bower_components/jsPlumb/dist/js/jquery.jsPlumb-1.6.2-min.js"></script>
    <script src="bower_components/angular-ui-slider/src/slider.js"></script>

    <!-- out local ng stuff -->
    <script src="js/ngstorage.js"></script>
    <script src="js/directives.js"></script>

    <script src="js/app.js"></script>
    <script src="js/firstController.js"></script>
    <script src="js/secondController.js"></script>

</body>
</html>